* {
    margin: 0;
    padding: 0;
    /* border: none; */
}
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    color: #212121;
    background: #E5E5E5;
}

    .wrapper {
        width: 1280px;
        height: 1000px;
        margin: 20px auto;

        position: relative;
        background: #F4F4F4;
        outline:1px solid red;

    }
        .styleFont_1 {
            display: inline-block;
            color: white;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            z-index: 10;
        }
        .Reduslim {
            top: 15px;
            left: 15px;
            position: absolute;
        }
        .ECO {
            top:15px;
            left: 15px;
            position: absolute;
        }
        .ellipse_7 {
            position: absolute;
            width: 688px;
            height: 688px;
            left: 315px;
            top: -19px;

            opacity: 0.03;
            /* white */
            border: 20px solid #FFFFFF;
            border-radius: 400px;
            z-index: 10;
        }
        .ellipse_6 {
            position: absolute;
            width: 398px;
            height: 398px;
            left: 100px;
            top: 146px;
            /* green */
            border-radius: 400px;
            background: #428A60;
            z-index: 20;
        }

        .leftRight {
            width: 1120px;
            height: 500px;
            margin: auto;

            position: relative;
            /* top: 75px; */

            border: 2px solid green;


        }
            .left {
                width: 560px;
                height: 500px;
                display: block;
                z-index: -9000;

                background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
                box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
                border-radius: 1px;
                position: absolute;
                border: 2px solid red;
            }
                #img_2 {
                    position: absolute;
                    width: 465px;
                    height: 255px;
                    left: 10px;
                    top: 10px;
                    z-index: 30;
                }
            .right {
                width: 560px;
                height: 500px;
                display: inline-block;
                z-index: -9000;

                float: right;
                background: #FFFFFF;

                border: 2px solid blue;
            }
                #rect_2 {
                    width: 560px;
                    height: 136px;
                    left: 640px;
                    top: 75px;

                    background: #F8F8F8;
                    border-radius: 30px;
                    font-weight: 800;
                    font-size: 30px;
                    text-align: center;
                    vertical-align: middle;
                    display: table-cell;
                }
                #contacts {
                    width: 320px;
                    margin: auto;
                }

                    .font_2 {
                        font-size: 12px;
                        font-weight: 800;
                    }

                        /* [value] {
                            opacity: 0.2;
                        } */
                        .font_2 > * {
                            color: green;
                        }
