* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: none; */
}
/* html {

}
*, *::before, *::after {
    box-sizing: inherit;
} */

body {
    font-family: Montserrat;
    font-style: normal;
    font-size: 12px;
    color: #212121;
    background: #E5E5E5;
}

    .form {
        width: 1280px;
        height: 650px;
        margin:100px auto;
        position: relative;
        background: #F4F4F4;

    }
        .styleFont_1 {
            display: inline-block;
            color: white;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            position: absolute;
            z-index: 10;
        }
        .Reduslim {
            top: 115px;
            left: 120px;
        }
        .ECO {
            top: 517px;
            left: 120px;
        }
        .ellipse_6 {
            position: absolute;
            width: 398px;
            height: 398px;
            left: 100px;
            top: 146px;
            /* green */
            border-radius: 400px;
            background: #428A60;
            z-index: 10;
        }
        #img_2 {
            position: absolute;
            width: 465px;
            height: 255px;
            left: 137px;
            top: 287px;
            z-index: 30;

        }
        .leftRight {
            width: 1120px;
            height: 500px;
            margin: auto;
            top: 75px;
            left: 80px;
            position: absolute;
            z-index: 1;

        }
            .left {
                width: 50%;
                height: 500px;

                z-index: -9000;

                background: linear-gradient(180deg, #428A60 0%, #35734F 100%);
                box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
                border-radius: 1px;
                position: relative;
                float: left;
            }
                .ellipse_7 {
                    position: absolute;
                    width: 688px;
                    height: 688px;
                    left: 250px;
                    top: -65px;

                    opacity: 0.03;

                    border: 20px solid #FFFFFF;
                    border-radius: 400px;
                    z-index: 2;
                }
            .right {
                width: 50%;
                height: 500px;
                box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
                border-radius: 1px;

                float: right;
                background: #FFFFFF;
                z-index: 100;
            }
                #rect_2 {
                    width: 560px;
                    height: 136px;
                    left: 640px;
                    top: 75px;

                    background: #F8F8F8;
                    border-radius: 30px;
                    font-weight: 800;
                    font-size: 30px;
                    text-align: center;
                    vertical-align: middle;
                    display: table-cell;
                }
                    form {
                        width: 320px;
                        height: 172px;
                        margin: 52px auto;
                        z-index: 1000;
                    }
                        input {
                            margin: 10px 0 10px 0;
                            width: 320px;
                            height: 50px;
                            padding-left: 20px;
                            font-size: 14px;
                            font-weight: 600;

                            color: #212121;
                            /* opacity: 0.2; */
                            background-color: rgba(248,248,248,1);
                            border: 1px solid rgba(228,228,228,1);
                            border-radius: 5px;
                        }
                            .inp_2 {
                                width: 184px;
                            }
                            .language {
                                margin-left: 20px;
                                width: 112px;
                                height: 50px;
                                font-weight: 600;
                                font-size: 14px;
                            }
                            .ru {
                                background: url('../img/russia.png') no-repeat;
                                background-size: 20px;
                                padding-left: 24px;
                                background-position: 80% 50%;
                            }
                            .uk {
                                background: url('../img/uk.png') no-repeat;
                                background-size: 20px;
                                padding-left: 24px;
                                background-position: 80% 50%;
                            }
                            select.ru,
                            select.uk {
                                padding-top: 2px;
                                padding-bottom: 3px;
                                padding-left: 16px;
                                background-position: 80% 50%;
                            }

                    .font_2 {
                        font-size: 12px;
                        font-weight: 800;
                    }
                        .font_2 > * {
                            color: green;
                        }
